$color-primary: hsl(168, 34%, 41%);
$color-primary-2: hsl(167, 40%, 24%);

$color-secondary-1: hsl(212, 27%, 19%);
$color-secondary-2: hsl(198, 62%, 26%);
$color-secondary-3: hsl(213, 9%, 39%);
$color-secondary-4: hsl(232, 10%, 55%);
$color-secondary-5: hsl(210, 4%, 67%);

$color-tertiary: hsl(7, 99%, 70%);

$color-yellow: hsl(51, 100%, 49%);
$color-white: #fff;
$color-black: #222;

$font-primary: "Barlow", sans-serif;
$font-display: "Fraunces", serif;

// RESPONSIVE BREAKPOINTS
// $bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 43.75em; //700px
$bp-smaller: 43.75em; //650px
